<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>Clinic Management System</title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/images/logo/logo.png">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/modal.css">
    
    <!-- Utility Scripts -->
    <script type="module" src="/js/util.js"></script>
    <script type="module" src="/js/render.js"></script>
    

</head>
<body>
<div class="wrapper">
    <!-- Header -->
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- Main Content -->
    <main class="main-content">
        <div class="role-selection-container">
            <h2 class="role-heading">Select Your Role</h2>
            <div class="role-buttons">
                <button id="adminBtn" class="role-btn">Admin</button>
                <button id="doctorBtn" class="role-btn" data-role="doctor">Doctor</button>
                <button id="patientBtn" class="role-btn">Patient</button>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>
            <div id="modal-body"></div>
        </div>
    </div>

    <!-- Services -->
    <script type="module" src="/js/services/index.js" defer></script>
</div>
</body>
</html>